{
  "singleQuote": true,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "overrides": [
      {
          "files": "*.md",
          "options": {
              "useTabs": false
          }
      }
  ]
}
